


<div id="popup_container" class="alertPrint" style="position: fixed; z-index: 99999; padding: 0px; margin: 0px; min-width: 660px; max-width: 660px; top: 128.5px;left: 30%"><div id="popup_container_print"><h1 id="popup_close">X</h1><h1 id="popup_title">设置图示</h1><div id="popup_content"><div id="popup_message"><table class="alertsPrint1 appnews" width="100%" align="center">
    <tbody>

    <tr><td><br>IE7 打印设置图示说明</td></tr>
    <tr><td>
        <br>步骤1、（如果您的浏览器已经设置菜单栏，直接从步骤2开始设置）<br><br><img src="__IMG__/ie7_1.gif">
        <br><br>步骤2、<br><br><img src="__IMG__/ie7_2.gif">
        <br><br>步骤3、<br><br><img src="__IMG__/ie7_3.gif">
        <br><br>步骤4、<br><br><img src="__IMG__/ie7_4.gif">
    </td></tr>
    <tr><td><br><br>IE11 打印设置图示说明</td></tr>
    <tr><td>
        <br>步骤1、<br><br><img src="__IMG__/ie11_1.gif">
        <br><br>步骤2、<br><br><img src="__IMG__/ie11_2.gif">
        <br><br>步骤3、<br><br><img src="__IMG__/ie11_3.gif">
        <br><br>步骤4、<br><br><img src="__IMG__/ie11_4.gif">
        <br><br>步骤5、<br><br><img src="__IMG__/ie11_5.gif">
        <br><br>步骤6、<br><br><img src="__IMG__/ie11_6.gif">
    </td></tr>
    <tr><td><br>360下切换兼容模式</td></tr>
    <tr><td>
        <br>步骤、打开360浏览器，点击切换模式按钮，选中兼容模式，如图。<br><br><img src="__IMG__/360moshi.jpg"><br>
    </td></tr>
    </tbody>
</table>
</div><div id="popup_panel"><input class="btn" style="*width:80px" type="button" value="&nbsp;&nbsp;打印&nbsp;&nbsp;" id="popup_ok">
    <input class="btn" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;" id="popup_cancel"></div></div></div><div style="display:none" id="PrintPager" class="pagination"></div></div>