<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" id="css" href="./images/members.css">
    <title>欢迎光临</title>
</head>
<body>
<br>
<br>
<br>
<table width="90%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_b" style="table-layout: fixed">
                <tbody><tr class="header_left_b">
                    <td>全部公告</td>
                </tr><tr>
                </tr><tr><td style="height:100px;font-size:18px" align="top"> ●●●【奖虫APP下载网址：jiangcho.com】
                    ●●●【会员】【（1,2,3,5,6,7,8,9）t.55516222.net】●●●【会员备用】【（1111,2222,3333,5555）t.55516222.net】
                    ●●●【管理】【（1,2,3,5,6,7,8,9）u.55516222.net】●●●【管理备用】【（1111,2222,3333,5555）u.55516222.net】
                    ●●●【通知网永久网址xp.2020209.com和xxxx999.com※※ ※通知码：d7d51a】
                    ●●●【 原来是用（手工抄数），现在可以用（程序抄数）了，请上网址（xx007.cc)下载（抄数助手），使用它可以减少工作量，提高效率。】
                    ●●●【温馨提示】各位会员在下注确定后请到“下注明细”里确认注单，一切注单结算以下注明细里资料为准！】
                    ●●●【本公司排列五开盘时间为每天早上  9:00开盘，当晚20:18分封盘！】
                </td></tr><tr>
                </tr></tbody></table>

        </td>
    </tr><tr>
    </tr></tbody></table>

</body></html>
